.servicesList {
   @apply pb-6 lg:pb-0;
   .service {
      @apply rounded-basic bg-accent-2 p-6 mb-12 lg:mb-0;
      .image {
         @apply h-[200px] w-full border border-accent-1 rounded-[20px] mb-5;
      }
      .buttons {
         @apply flex gap-3 mt-5;
      }
   }
}
.servicesGrid {
   @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-4;
   .service {
      @apply mb-0;
   }
}
