.form {
   @apply flex flex-col gap-2 md:gap-4 w-full;
   input,
   textarea {
      @apply w-full text-text-1 md:text-lg border-2 border-accent-2 rounded-inner px-5 py-3;
      &::placeholder {
         @apply text-text-2/70;
      }
   }
   textarea {
      @apply resize-none;
   }
   button {
      @apply px-12 py-3 bg-accent-1 text-white;
      &:hover {
         @apply text-accent-1 border-accent-1 bg-transparent;
      }
   }
   .error {
      @apply text-rose-400 text-base mb-[-5px] ml-2;
      & + input,
      & + textarea {
         @apply border-rose-400/50 border-2;
      }
   }
}
