.form {
   @apply flex flex-col gap-2 md:gap-4 w-full;
   div {
      @apply flex flex-col md:flex-row gap-2 md:gap-4;
   }
   input,
   textarea {
      @apply w-full text-text-1 md:text-lg border border-accent-2 rounded-inner px-5 py-3;
      &::placeholder {
         @apply text-text-2/70;
      }
   }
   textarea {
      @apply resize-none;
   }
   button {
      @apply px-12 py-3 bg-accent-1 text-white;
      &:hover {
         @apply text-accent-1 border-accent-1 bg-transparent;
      }
   }
}
