.hero {
   @apply grid grid-cols-1 lg:grid-cols-10 gap-10 md:gap-12 justify-between items-center;
   .info {
      @apply lg:col-span-4 lg:order-1;
      button {
         @apply rounded-basic px-12 py-3 bg-accent-1 border border-transparent mt-4 text-white transition-all w-full lg:w-auto;
         &:hover,
         &:active {
            @apply text-accent-1 border-accent-1 bg-transparent;
         }
      }
   }
   .photo {
      @apply lg:order-2 rounded-basic border border-accent-1 lg:col-span-6 justify-self-center lg:justify-self-end;
   }
}
