.hero {
   @apply grid grid-cols-1 lg:grid-cols-2 gap-10 md:gap-12 justify-between items-center;
   .info {
      @apply lg:col-span-1 lg:order-1 lg:pr-12;
      button {
         @apply px-12 py-2 bg-accent-1 text-white mt-4 w-full lg:w-auto;
         &:hover {
            @apply text-accent-1 border-accent-1 bg-transparent;
         }
      }
   }
   .photo {
      @apply lg:order-2 lg:col-span-1 w-full h-[440px] lg:w-[600px] lg:h-[540px] lg:scale-110 rounded-basic object-right object-cover;
   }
}
