.hero {
   @apply relative lg:static grid grid-cols-1 lg:grid-cols-2 gap-3 md:gap-12 mt-[-96px] md:mt-[-176px] pb-12 lg:pb-0 justify-between items-center min-h-screen;
   .info {
      @apply max-w-3xl mt-[500px] md:mt-0 lg:col-span-1 lg:order-1 space-y-6;
      button {
         @apply px-12 py-2 bg-text-1 text-white mt-6 xl:mt-8 w-full lg:w-auto;
         &:hover {
            @apply text-text-1 border-text-1 bg-transparent;
         }
      }
      .list {
         @apply list-disc pl-5;
         li {
            @apply text-text-2;
         }
      }
   }
   .photo {
      @apply opacity-85 absolute top-[72px] lg:top-auto lg:left-1/2 w-full lg:w-1/2 lg:order-2 lg:col-span-1 md:hidden lg:block h-[390px] lg:h-[calc(100dvh-50px)] self-end rounded-basic lg:rounded-none scale-110 lg:scale-100 object-cover pointer-events-none;
      @media screen and (min-width: 1400px) {
         clip-path: circle(77% at 80% 75%);
      }
   }
}
