.employee {
   @apply flex flex-col items-center justify-center mb-10 xl:mb-4 text-center;
   .image {
      @apply border border-accent-1 w-full md:w-[430px] h-[560px] md:h-[570px] rounded-basic object-cover object-top;
   }
   .name {
      @apply mt-4 text-xl font-medium text-text-1;
   }
   .about {
      @apply mt-1 text-sm text-text-2 text-center px-12;
   }
}
