@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Forum';
   src: url('/fonts/Forum-Regular.ttf');
}
@font-face {
   font-family: 'Praho-regular';
   src: url('/fonts/PrahoPro-Regular.ttf');
}
@font-face {
   font-family: 'Praho-medium';
   src: url('/fonts/PrahoPro-Medium.ttf');
}
@font-face {
   font-family: 'Nyght-serif-italic';
   src: url('/fonts/NyghtSerif-RegularItalic.woff2') format('woff2');
}
@font-face {
   font-family: 'Nyght-serif';
   src: url('/fonts/NyghtSerif-Regular.woff2') format('woff2');
}

html,
body {
   @apply scroll-smooth bg-background font-montserrat;
}

.swiper-pagination-bullet {
   @apply bg-accent-1 !important;
}
.heroWrapper .swiper-pagination {
   @apply container px-3 md:px-12 !important;
}
.swiper-pagination {
   @apply xl:flex justify-start container !important;
}
