@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Nyght-serif-italic';
   src: url('/fonts/NyghtSerif-RegularItalic.woff2') format('woff2');
}
@font-face {
   font-family: 'Nyght-serif';
   src: url('/fonts/NyghtSerif-Regular.woff2') format('woff2');
}

html,
body {
   @apply scroll-smooth bg-background font-montserrat;
}
*::selection {
   @apply bg-accent-1 text-background;
}

.swiper-pagination-bullet {
   @apply bg-accent-1 !important;
}
.swiper-pagination {
   @apply xl:flex justify-start container !important;
}
