.tables {
   @apply grid items-start grid-cols-1 md:grid-cols-2 gap-3 md:gap-4;
}
.tableMain {
   table {
      @apply w-full border-separate border border-rose-100 border-spacing-0 rounded-inner overflow-hidden;
      thead {
         @apply bg-white;
         th {
            @apply p-3 md:text-lg text-left font-medium text-text-1;
         }
      }

      tbody {
         @apply bg-white/75;
         tr {
            &:nth-child(odd) {
               @apply bg-rose-100/30;
            }
            td {
               @apply p-3 text-sm text-text-2 md:font-light;
            }
         }
      }
   }
   .tableSub {
      .subname {
         @apply text-text-1 text-xl mb-3 pt-5;
      }
      &:first-of-type .subname {
         @apply pt-0;
      }
   }
}
