.navbar {
   @apply py-5 fixed left-0 right-0 z-30 backdrop-blur-lg border-b-[1px] border-navbar bg-navbar;
   &.expanded {
      @apply h-[310px];
   }
   .content {
      @apply container px-3 md:px-12 mx-auto flex justify-between items-center;
   }
   .menuBtn {
      @apply md:hidden scale-75;
      svg {
         @apply fill-text-3;
      }
   }
}
.navLinks {
   @apply absolute md:static top-[90px] right-0 sm:right-10 px-3 hidden md:flex flex-col md:flex-row justify-between md:justify-end items-end md:items-center w-full gap-[15px] md:gap-[20px] lg:gap-[44px] text-xl md:text-base lg:text-lg font-medium text-text-3;
   &.show {
      @apply flex;
   }
   a {
      @apply underline-offset-4 hover:underline tracking-wide;
      &.active {
         @apply text-text-1;
      }
   }
}
