.navbar {
   @apply py-5 fixed left-0 right-0 z-30 backdrop-blur-lg border-b-[1px] border-navbar bg-navbar;
   &.expanded {
      @apply h-[250px];
   }
   .content {
      @apply container px-3 mx-auto flex justify-between items-center;
   }
   .menuBtn {
      @apply sm:hidden scale-75;
      svg {
         @apply fill-navlinks;
      }
   }
}
.navLinks {
   @apply absolute sm:static top-[75px] right-0 px-3 hidden sm:flex flex-col sm:flex-row justify-between sm:justify-end items-end sm:items-center gap-[15px] w-full sm:gap-[44px] text-xl sm:text-lg font-medium text-navlinks;
   &.show {
      @apply flex;
   }
   a {
      @apply underline-offset-4 hover:underline tracking-wide;
      &.active {
         @apply text-navlinks-current;
      }
   }
}
