.navbar {
   @apply py-5 fixed left-0 right-0 z-30 backdrop-blur-lg border-b-[1px] border-navbar bg-navbar;
   &.open {
      @apply h-[295px] sm:h-[130px];
   }
   .content {
      @apply container px-3 md:px-12 mx-auto flex justify-between items-center;
   }
   .menuBtn {
      @apply md:hidden scale-75;
      svg {
         @apply fill-text-3;
      }
   }
}
.navLinks {
   @apply absolute md:static top-[75px] right-0 px-3 hidden md:flex flex-col sm:flex-row sm:justify-center md:justify-end items-end sm:items-center w-full gap-[15px] sm:gap-[32px] lg:gap-[44px] text-xl md:text-base lg:text-lg font-medium text-text-3;
   &.show {
      @apply flex;
   }
   a {
      @apply underline-offset-4 hover:underline tracking-wide;
      &.active {
         @apply text-text-1;
      }
   }
}
