.about {
   @apply mt-24 sm:mt-44 grid grid-cols-1 md:grid-cols-10 gap-10 justify-between items-center;
   .info {
      @apply md:col-span-4 order-1 md:order-2;
   }
}
.employees {
   @apply md:col-span-6 order-2 md:order-1;
}
