.footer {
   @apply bg-accent-2 border-t;
   .content {
      @apply container px-3 md:px-12 py-12 mx-auto flex flex-col md:flex-row md:justify-between md:items-start gap-6;
   }
   .contacts {
      @apply flex flex-col md:flex-row gap-6 md:gap-8;
      a {
         @apply text-text-2 text-lg hover:underline;
      }
   }
   .contacts,
   .social {
      p {
         @apply text-text-1 text-xl mb-1;
      }
   }
   .social {
      @apply flex flex-col;
      div {
         @apply flex gap-2;
      }
      a {
         @apply w-10 h-10 hover:opacity-80 duration-200 ease-out transition-all;
      }
   }
   .bottom {
      @apply text-accent-1 text-center py-3;
   }
}
