.footer {
   @apply bg-accent-2 border-t;
   .content {
      @apply container px-3 md:px-12 py-8 mx-auto gap-6 md:gap-8;
   }
   .map {
      @apply w-full md:flex-1 h-96 rounded-basic;
   }
   .contacts {
      @apply flex justify-center pt-3 md:pt-10;
      a {
         @apply text-text-2 text-xl hover:underline;
      }
   }
   .bottom {
      @apply text-accent-1 text-center py-3;
   }
}
