.articlesList {
   @apply py-6 lg:pb-0;
}
.article {
   @apply rounded-basic bg-accent-2 p-6 mb-12 xl:mb-0 flex flex-col self-start;
   .image {
      @apply aspect-auto h-[250px] xl:h-[360px] w-full rounded-inner mb-5 object-cover;
   }
   .buttons {
      @apply grid xl:flex grid-cols-2 gap-2 xl:gap-3 mt-2;
      button,
      a {
         @apply flex justify-center items-center w-full;
      }
   }
}
.articlesGrid {
   @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-4;
   .article {
      @apply mb-0;
   }
}
