.equipment {
   @apply rounded-basic bg-accent-2 p-3 mb-12 xl:mb-4;
   img,
   video {
      @apply rounded-inner h-[480px] md:w-[360px] object-cover;
   }
   video {
      @apply pointer-events-none;
   }
}
